<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento del Footer -->
<footer th:fragment="footer" class="bg-dark text-white text-center py-5 mt-5">
    <p class="mb-1">&copy; 2025 Roller Speed</p>
    <p class="mb-0">Desarrollado por:</p>
    <p class="fw-bold">
        Isabela Blandón Vélez · Salome Molina Reyes · David Vélez Vanegas ·
        Víctor Manuel Quiceno Guerra · Sebastián Posada Duque
    </p>
</footer>

<!-- Fragmento de Scripts (opcional, pero recomendado) -->
<script th:fragment="scripts" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>